.titulo {
    background: #D76900;
    text-align: center;
    font-size: 60px;
    padding: 5px;
}

.titulo a {
    text-decoration: none;
    color: black;
}

.nav {
    margin: 0px;
    padding: 10px;
    background: rgb(185, 224, 233);
    font-size: 25px;
}

.nav a{
    padding: 10px;
}

.nav a:hover {
    background: #90DEF0;
}

.productos {
    font-size: 20px;
}

.motherboards {
    padding: 0px 0px 20px;
}

.procesadores {
    padding: 0px 0px 20px;
}

.memorias {
    padding: 0px 0px 20px;
}

.placas {
    padding: 0px 0px 20px;
}

.almacenamiento {
    padding: 0px 0px 20px;
}
.fuentes {
    padding: 0px 0px 20px;
}

.gabinetes {
    padding: 0px 0px 20px;
}

.vertical {
    border-left: 1px solid black;
    height: 1100px;
    position: absolute;
    left: 300px;
    margin-left: 1px;
    top: 216px;
}

img {
    width: 250px;
}

.subtitulo {
    position: absolute;
    left: 500px;
    bottom: 320px;
}

.disco1 {
    position: absolute;
    left: 500px;
    bottom: 10px;
}

.disco2 {
    position: absolute;
    left: 500px;
    top: 630px;
}

.disco3 {
    position: absolute;
    left: 500px;
    top: 980px;
}

.contacto {
    background: #D76900;
    position: relative;
    top: 800px;
}

.contacto p {
    text-align: center;
    font-size: 30px;
}

.contacto img {
    width: 50px;
    position: relative;
    left: 400px;
}

.contacto > .instagram {
    width: 50px;
    position: relative;
    left: 200px;
}

.contacto > .twitter {
    width: 50px;
    position: relative;
    left: 420px;
}