.titulo {
    background: #D76900;
    text-align: center;
    font-size: 60px;
    padding: 5px;
}


.informacion {
    text-align: center;
    font-size: 20px;
}

.nav {
    margin: 0px;
    padding: 10px;
    background: rgb(185, 224, 233);
    font-size: 25px;
}

.nav a{
    padding: 10px;
}

.nav a:hover {
    background: #90DEF0;
}

.subtitulo {
    font-size: 20px;
    text-align: center;
}

img {
    width: 350px;
}

.caja1 div {
    width: 500px;
    border: solid #D76900;
    padding: 10px;
    margin: 40px 30px;
    float: left;
    margin-left: 70px;
}

.caja1 div img {
    margin-left: 50px;
}

.caja1 div p {
    text-align: center;
}

.caja2 div {
    width: 500px;
    border: solid #D76900;
    padding: 10px;
    margin: 40px 30px;
    float: left;
    margin-left: 70px;
}

.caja2 div img {
    margin-left: 50px;
}

.caja2 div p {
    text-align: center;
}

.contacto {
    background: #D76900;
    position: absolute;
    top: 1350px;
    width: 100%;
}

.contacto p {
    text-align: center;
    font-size: 30px;
}

.contacto img {
    width: 50px;
    position: relative;
    left: 400px;
}

.contacto > .instagram {
    width: 50px;
    position: relative;
    left: 200px;
}

.contacto > .twitter {
    width: 50px;
    position: relative;
    left: 420px;
}