.titulo {
    background-color: #417213;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    font-size: 50px;
    font-family: ;
}

.informacion {
    text-align: center;
    font-size: 20px;
}

.nav {
    background: #A1BB88;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}

.nav a {
    color: black;
    padding: 10px 35px;
    text-decoration: none;
}

.nav a:hover {
    background: #417213;
    border-radius: 10px;
}

.subtitulo {
    text-align: center;
}

.producto {
    width: 500px;
    float: left;
    margin: 10px;
    margin-left: 100px;
    border: solid #A1BB88;
}

.producto h3 {
    text-align: center;
}

.producto img {
    width: 300px;
    margin-left: 100px;
}

.contactos {
    clear: both;
    text-align: center;
    background: #A1BB88;
    font-size: 25px;
}

.contactos img {
    width: 50px;
    margin-left: 20px;
}
