.titulo {
    background: #D76900;
    text-align: center;
    font-size: 60px;
    padding: 5px;
}

.titulo a {
    text-decoration: none;
    color: black;
}

.nav {
    margin: 0px;
    padding: 10px;
    background: rgb(185, 224, 233);
    font-size: 25px;
}

.nav a{
    padding: 10px;
}

.nav a:hover {
    background: #90DEF0;
}

.productos {
    float: left;
    padding: 10px 10px;
    font-size: 20px;
    width: 400px;
}

.productos ul li a {
    text-decoration: none;
}

.productos ul li {
    padding: 30px;
    list-style: none;
}

.vertical {
    border-left: 1px solid black;
    height: 620px;
    position: absolute;
    left: 300px;
    margin-left: 1px;
    top: 216px;
}


img {
    width: 150px;
}

.contacto {
    background: #D76900;
    position: absolute;
    top: 950px;
    width: 100%;
}

.contacto p {
    text-align: center;
    font-size: 30px;
}

.contacto img {
    width: 50px;
    position: relative;
    left: 400px;
}

.contacto > .instagram {
    width: 50px;
    position: relative;
    left: 200px;
}

.contacto > .twitter {
    width: 50px;
    position: relative;
    left: 420px;
}
