.titulo a {
    text-decoration: none;
    color: black;
}

.productos {
    float: left;
    width: 18%;
    border: solid #A1BB88;
    border-radius: 10px;
    margin-top: 3%;
}

.productos a {
    text-decoration: none;
    color: black;
}

.productos li {
    list-style: none;
    padding: 10% 0%;
    font-size: 125%;
}

.subtitulo {
    text-align: center;
    font-size: 125%;
}

.venta {
    width: 45%;
    border: solid #A1BB88;
    border-radius: 10px;
    margin: 3%;
    margin-left: 30%;
    padding: 1%;
}

.venta img {
    width: 45%;
    margin-left: 25%;
}

.venta p {
    margin-left: 4%;
}
